.sidebar {
    width: 340px;
    padding: 0 var(--offset-x3);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    padding: 10px 0;
}