.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 var(--padding-md);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.logo {
    min-width: 25%;
}

.search {
    flex: 1 1 auto;
}

.navigation {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    min-width: 25%;
}